@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

.bg-gradient {
  background-image: url(../../public/Group\ 56.png);
  background-size: cover;
}

.bg-gradient-contain {
  background-image: url(../../public/explanation.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.hero {
  background-image: url(../../public/hero@2x.png);
  background-size: cover;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}
